body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f7;
}

header {
    background-color: #02735e;
    color: white;
    padding: 1rem;
    text-align: center;
}

h2 {
    text-align: center;
    color: red;
}

h5 {
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
}

#saudacao {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

img {
    display: block;
    margin: 2rem auto;
    width: 390px;
    border: 5px solid #024b3a;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease; /* Suaviza o efeito */
}

#imagem:hover {
    filter: brightness(1.2);
    box-shadow: 0 0 25px rgba(0, 255, 100, 0.6);
}

footer {
    background-color: #024b3a;
    color: white;
    text-align: center;
    padding: 1rem;
}

